<div class="container-fluid">
	<div class="row">

		<!-- Sidebar -->
		<aside class="col-xs-4 sidebar">

			<!-- Aside title -->
			<div class="row aside-title">
				<h2 class="col-xs-7">Bloc Chat</h2
				><div class="col-xs-5 ">
					<button class="btn" ng-click="home.openModal()">New room</button>
				</div>
				
			</div>

			<!-- Rooms -->
			<div class="row">
				<div class="col-xs-12" ng-repeat="room in home.room.all">
					<p ng-click="home.activeRoom = room.name">{{ room.name }}</p>	

	<!-- 				<ul class="list-group" ng-repeat="room in home.rooms">
						<li class="list-group-item">
							{{ room.name }}
						</li>
					</ul> -->
				</div>
			</div>
		</aside>
		<main class="col-xs-8">
			<div class="panel panel-heading">
				<!-- <h3>{{ home.activeRoom[0].name }}</h3> -->
				<h3>{{ home.activeRoom }}</h3>
 
			</div>
			<div class="panel panel-body message">
				<h5>Person 1</h5>.
				<p>Here is what I have to say to you.</p>
			</div>
			<div class="panel panel-body message">
				<h5>Person 2</h5>
				<p>Thanks, that was very insightful.</p>
			</div>
		</main>
	</div>

</div>


