<div class="container-fluid">
	<div class="row">

		<!-- Sidebar -->
		<aside class="col-xs-4 sidebar">

			<!-- Aside title -->
			<div class="row aside-title">
				<h2 class="col-xs-7">Bloc Chat</h2
				><div class="col-xs-5 ">
					<button class="btn" ng-click="home.openModal()">New room</button>
				</div>
				
			</div>

			<!-- Rooms -->
			<div class="row">
				<div class="col-xs-12" ng-repeat="room in home.room.all">
					<p ng-click="home.setActiveRoom(room)">{{ room.name }}</p>	
				</div>
			</div>
		</aside>
		<main class="col-xs-8">
			<div class="panel panel-heading">
				<h3>{{ home.activeRoom.name }}</h3>
			</div>

			<!-- Messages -->
			<div class="panel panel-body message" ng-repeat="message in home.messages">
				<h5>{{ message.username }}  -  {{ message.sentAt }}</h5>
				<p>{{ message.content }}</p>
			</div>
		</main>
	</div>

</div>


