/* Force chat to full size of screen */
html, body {
	height: 100%;
}

.row1 {
	display: flex;
	background-color: grey;
}

.landing-main {
	background-color: lightgrey;
	text-align: center;
	align-self: center;

}

.sign-up {
	margin-top: 5rem;
}

.login-container {
	margin: 2rem;
}

.signup-container {
	margin: 2rem;
}